.container {
  display: flex;
  justify-content: center;
}

.whiteboards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* required to remove spacing between individual whiteboards */
  font-size: 0;
}
