/* 18 comes from the biggest brush size
TODO: make brush sizes global? */

.colorPreview {
  width: 18px;
  height: 18px;
}

.paletteContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* yolo'd this. doesn't really work for non chrome browsers */
.palette {
  width: 200px;
}
