.container {
  position: relative;
  background-color: var(--white);
}

.active {
  cursor: crosshair;
  outline: 0.5px solid var(--orangered);
  /* Make sure the orange outline sits ontop  */
  z-index: 1;
}

.inactive {
  cursor: not-allowed;
  outline: 1px solid var(--lightgray);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}
