.whiteboards {
  /* required to remove spacing between individual whiteboards */
  font-size: 0;
  outline: 1px solid var(--lightgray);
  /* Flex margin */
  margin: auto;
}

.row {
  display: flex;
}
