.container {
  pointer-events: none;
  padding: 4px;
}

.mobileContainer {
  position: fixed;
  bottom: 2px;
  left: 25%;
  transform: scale(1.5);
}

.desktopContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.controls {
  pointer-events: all;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  transition: all 100ms ease;
  margin-left: 0;
}

.controls input {
  margin: 0;
  padding: 0;
}
