.container {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: none;
}

.username {
  /* TODO this font-size is affecting the height of the containing div */
  font-size: 1rem;
  padding: 4px 8px;
  border-radius: 4px;
  user-select: none;
  color: white;
  background-color: #ff4500;
}
