.container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 4px;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
  overflow: hidden;
}

.controls {
  pointer-events: all;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 100ms ease;
  margin-left: 0;
}
